* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: #282828;
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ebdbb2;
  border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inherit;
  border-bottom: 3px solid #ebdbb2;
}

#workspaces button.focused {
  border-bottom: 3px solid #ebdbb2;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #ebdbb2;
  color: #282828;
  padding: 0 10px;
  margin: 0 4px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor {
  padding: 0 15px;
  margin: 0 4px;
  color: #ebdbb2;
}

@keyframes blink {
  to {
    background-color: #ebdbb2;
    color: #282828;
  }
}

#battery.critical:not(.charging) {
  background-color: #cc241d;
  color: #ebdbb2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #282828;
}

#network.disconnected {
  background-color: #fb4934;
}

#pulseaudio.muted {
  background-color: #fabd2f;
  color: #282828;
}

#idle_inhibitor.activated {
  background-color: #ebdbb2;
  color: #282828;
}
