* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: #282828;
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ebdbb2;
  border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  border-bottom: 3px solid #ebdbb2;
}

#workspaces button.focused {
  background-color: #a89984;
  border-bottom: 3px solid #ebdbb2;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #a89984;
  border-bottom: 3px solid #ebdbb2;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 0 4px;
  color: #ebdbb2;
}

#clock {
  background-color: #a89984;
}

#battery {
  background-color: #ebdbb2;
  color: #282828;
}

#battery.charging {
  color: #ebdbb2;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ebdbb2;
    color: #282828;
  }
}

#battery.critical:not(.charging) {
  background-color: #cc241d;
  color: #ebdbb2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #282828;
}

#cpu {
  background-color: #98971a;
  color: #282828;
}

#memory {
  background-color: #b16286;
}

#backlight {
  background-color: #a89984;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #cc241d;
}

#pulseaudio {
  background-color: #f1c40f;
  color: #282828;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature {
  background-color: #d79921;
}

#temperature.critical {
  background-color: #cc241d;
}

#tray {
  background-color: #2980b9;
}

#idle_inhibitor {
  background-color: #282828;
}

#idle_inhibitor.activated {
  background-color: #ebdbb2;
  color: #282828;
}
